.fa-cart-shopping{
    float: right;
   position: absolute;
    right:100px;
     margin-left: 10px;
     height: 150px;
     width: 150px;
     font-size: 30px;
     top: 70px;
 }

 .grid-item{
position: absolute;
padding: 100px;
width: 200px;
height: 100px;
margin-left: 500px;
bottom: 170px;

 }
 
 form {
    margin-top: 20px; 
}

label {
    margin-bottom: 10px;
    font-size: xx-large;
    

}

input[type="text"],
input[type="file"],
button {
    margin-bottom: 50px; 
}