table {
    width: 40%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 2px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: CENTER;
  }
  
  th {
    background-color:aquamarine;
  }
  .fa-plus{
    float: right;
    position: absolute;
    right:250px;
     margin-left: 10px;
     height: 150px;
     width: 150px;
     font-size: 30px;
     top: 70px;
}
.fa-sign-out-alt{
  float: right;
 position: absolute;
  right:10px;
   margin-left: 30px;
   height: 150px;
   width: 150px;
   font-size: 30px;
   top: 70px;
} 